<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Café Aromas - Sua Cafeteria Favorita</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/style.css">


</head>

<body>

    <!-- HEADER/NAVBAR -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand fw-bold" href="#">☕ Café Aromas</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link active" href="../index.html">Sobre nós</a></li>
                        <li class="nav-item"><a class="nav-link" href="../produtos/produtos.html">Produtos</a></li>
                        <li class="nav-item"><a class="nav-link" href="pedidos.html">Pedidos</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- MAIN -->
    <main>

        <div class="col-md-6">
            <h2 class="section-title">Consulte seus pedidos</h2>
        </div>


       

       
    </main>

    <!-- FOOTER -->
    <footer class="footer bg-dark text-white py-4">
        <div class="container text-center">
            <p class="mb-2">&copy; 2024 Café Aromas. Todos os direitos reservados.</p>
            <p class="mb-0">
                <a href="#" class="text-white-50 me-3">Facebook</a>
                <a href="#" class="text-white-50 me-3">Instagram</a>
                <a href="#" class="text-white-50">Twitter</a>
            </p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>